@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap');

body{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agrinho {
    display: flex;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #ffffff;

    width: 100%;
    height: 30px;
    background-color: #005312;
    justify-content: center;

    text-align: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #ffffff;

    font-size: 40px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #ffffff;
}

.text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #ffffff;

}

#musashi {
    height: 30%;
}

#hobbit {
    height: 30%;
}

#metafisica {
    height: 30%;
}

#divinacomedia {
    height: 30%;
}